Source: mitogen
Section: python
Priority: optional
Maintainer: Emmanuel Arias <emmanuelarias30@gmail.com>
Build-Depends: debhelper-compat (= 12),
               dh-python,
               python3-all,
               python3-setuptools,
Standards-Version: 4.4.1
Homepage: https://mitogen.networkgenomics.com/
X-Python3-Version: >= 3.6
Vcs-Browser: https://salsa.debian.org/python-team/modules/python-mitogen
Vcs-Git: https://salsa.debian.org/python-team/modules/python-mitogen.git
Testsuite: autopkgtest-pkg-python


Package: python3-mitogen
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Suggests: ansible
Description: Distributed self-replicating programs in Python
 The goal of Mitogen is to provide a robust and efficient low-level API on which
 tools like Salt, Ansible, or Fabric can be built, and while the API is quite
 friendly and comparable to Fabric.i
 .
 This package installs the library for Python 3.

